
docType
html(lang="en")
	head
		title="Emit Username"
	script(src="js/soundmanager2.js")

	style.
		
		#followcontainer{
		width:100%;
		max-width:500px;
		margin-left:auto;
		margin-right:auto;
		transform:translateY(50%);
		
		}
		#title{
		font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
		width:100%;
		text-align:center;
		color:RGBA(0,0,0, 0);
		font-size:2.5em
		}
		#followcontainer > .active{
			color:RGBA(0,0,0, 1);
			-webkit-transition: all 500ms ease-in-out 2s;
			-moz-transition: all 500ms ease-in-out 2s;
			-o-transition: all 500ms ease-in-out 2s;
			transition: all 500ms ease-in-out 2s;
		}
	body
		#followcontainer(style="display:none;")
			h2#title
			audio#playersrc=""
		script(src="//code.jquery.com/jquery-1.11.3.min.js")
		script(src="https://cdn.socket.io/socket.io-1.3.7.js")
		
		script.

			var socket = io('localhost:3000');
			function hideContainer(){
				$('#followcontainer').hide();
				$('#title').toggleClass('active');
			}
			$(document).ready(function(){
				soundManager.setup({

			    // where to find the SWF files, if needed
			    url: '/swf/',

			    onready: function() {
			      	soundManager.createSound({
						 url: 'sounds/budlight.mp3',
						 // callback for when the sound has loaded
							 onload: function() {
							   soundManager._writeDebug(this.id + ' loaded');
							   this.play();
							 }
					}).load();

			    },

			    ontimeout: function() {
			     	$('#title').html('WHAT THE FUCK!');
			     	$('#followcontainer').show();
					$('#title').toggleClass('active');
					window.setTimeout(hideContainer, 5000);
			    }

			});
				socket.on('new', function(data){
					console.log(data.name);
					$('#title').html(data.name);
					$('#followcontainer').show();
					$('#title').toggleClass('active');
					window.setTimeout(hideContainer, 5000);
				});
			});

		